{:deps
 {org.clojure/clojurescript {:mvn/version "1.10.741"}
  org.clojure/core.async    {:mvn/version "1.1.587"}
  cljs-http                 {:mvn/version "0.1.46"}
  reagent                   {:mvn/version "0.10.0"}
  re-frame                  {:mvn/version "0.10.7"}}}
