{:source-paths ["src"]

 :dependencies
 [[org.clojure/clojure "1.10.1"]
  [org.clojure/clojurescript "1.10.741"]
  [org.clojure/core.async "1.1.587"]
  [cljs-http "0.1.46"]
  [failjure "2.0.0"]
  [reagent "0.10.0"]
  [re-frame "0.10.7"]
  [cljsjs/react-vis "1.11.7-0"]]

 :builds
 {:app
  {:target   :browser
   :modules  {:main {:entries [tick-prices.core]}}
   :output-dir "public/js"
   :devtools {:http-root "public"
              :http-port 8080}}}}
